<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-mqtt="http://www.springframework.org/schema/integration/mqtt"
	xsi:schemaLocation="
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/integration/mqtt http://www.springframework.org/schema/integration/mqtt/spring-integration-mqtt-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="onlineClientFactory"
		class="org.springframework.integration.mqtt.core.DefaultMqttPahoClientFactory">
		<property name="cleanSession" value="${MQTT_CLEAN_SESSION}" />
		<property name="keepAliveInterval"
			value="${MQTT_KEEPALIVE_INTERVAL}" />
		<!--  
		<property name="userName" value="${MQTT_USERNAME}" />
		<property name="password" value="${MQTT_PASSWORD}" />
		-->
		<property name="serverURIs">
			<array>
				<value>${MQTT_ONLINE}</value>
			</array>
		</property>
	</bean>

<!--  
	<bean id="mqttHandler"
		class="org.springframework.integration.mqtt.outbound.MqttPahoMessageHandler">
		<constructor-arg name="clientId"
			value="mqtt_chenlong_subcrib_b" />
		<constructor-arg name="clientFactory"
			ref="clientFactory" />
		<property name="async" value="${MQTT_ASYNC}" />
		<property name="defaultQos" value="${MQTT_DEFAULT_QOS}" />
		<property name="completionTimeout"
			value="${MQTT_COMPLETION_TIMEOUT}" />
	</bean>
	
	-->

	<!-- 消息适配器 -->
	<int-mqtt:message-driven-channel-adapter
		id="onlineMqttInbound" client-id="parking_server_mqtt_test_onlineyxf"
		topics="test,server/data/publish/phone/${PARK_NUM}" qos="0" client-factory="onlineClientFactory"
		auto-startup="true" send-timeout="12" channel="onlineSubscribeChannel" />
	<int:channel id="onlineSubscribeChannel" />

	<int:service-activator id="onlineCaseService"
		input-channel="onlineSubscribeChannel" ref="onlineMqttServiceImpl"
		method="reciveMessage" />

</beans>
