<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drzk.mapper.ParkCarInMapper">
	<resultMap id="BaseResultMap"  type="com.drzk.vo.ParkCarIn">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="guid" jdbcType="VARCHAR" property="guid" />
		<result column="mach_no" jdbcType="INTEGER" property="machNo" />
		<result column="ykt_id" jdbcType="INTEGER" property="yktId" />
		<result column="card_id" jdbcType="VARCHAR" property="cardId" />
		<result column="c_flag" jdbcType="INTEGER" property="cFlag" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="card_type" jdbcType="INTEGER" property="cardType" />
		<result column="emp_name" jdbcType="VARCHAR" property="empName" />
		<result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
		<result column="in_user_name" jdbcType="VARCHAR" property="inUserName" />
		<result column="car_no" jdbcType="VARCHAR" property="carNo" />
		<result column="assistant_car_no" jdbcType="VARCHAR" property="assistantCarNo" />
		<result column="modify_car_no" jdbcType="VARCHAR" property="modifyCarNo" />
		<result column="in_pic" jdbcType="VARCHAR" property="inPic" />
		<result column="back_in_pic" jdbcType="VARCHAR" property="backInPic" />
		<result column="small_pic" jdbcType="VARCHAR" property="smallPic" />
		<result column="assistant_small_pic" jdbcType="VARCHAR"
			property="assistantSmallPic" />
		<result column="car_no_type" jdbcType="INTEGER" property="carNoType" />
		<result column="small" jdbcType="INTEGER" property="small" />
		<result column="discount_no" jdbcType="VARCHAR" property="discountNo" />
		<result column="type_id" jdbcType="INTEGER" property="typeId" />
		<result column="discount_time" jdbcType="TIMESTAMP" property="discountTime" />
		<result column="makeup" jdbcType="INTEGER" property="makeup" />
		<result column="makeup_user_name" jdbcType="VARCHAR" property="makeupUserName" />
		<result column="is_locked" jdbcType="INTEGER" property="isLocked" />
		<result column="in_way" jdbcType="INTEGER" property="inWay" />
		<result column="is_load" jdbcType="INTEGER" property="isLoad" />
		<result column="is_delete" jdbcType="INTEGER" property="isDelete" />
	</resultMap>
	<sql id="Base_Column_List">
		id, guid, mach_no, ykt_id, card_id, c_flag, card_no, card_type, emp_name,
		in_time,
		in_user_name, car_no, assistant_car_no, modify_car_no, in_pic, back_in_pic,
		small_pic,
		assistant_small_pic, car_no_type, small, discount_no, type_id, discount_time, makeup,
		makeup_user_name, is_locked, in_way, is_load,is_delete
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		where id = #{id,jdbcType=INTEGER} and is_delete=0
	</select>

	<select id="selectTop" parameterType="com.drzk.vo.ParkCarIn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		<where>
			<if test="inTime != null">
				in_time  <![CDATA[ <= ]]>
				#{inTime,jdbcType =TIMESTAMP }
			</if>
			<if test="machNo != null">
				and mach_no = #{machNo,jdbcType=INTEGER}
			</if>
			<if test="cardNo != null"> 
				and card_no = #{cardNo,jdbcType=VARCHAR}
			</if>
			<if test="carNo != null"> 
				and SUBSTRING(car_no,2) = #{carNo,jdbcType=VARCHAR}
			</if>
			<if test="cardId != null">
				and card_id = #{cardId,jdbcType =VARCHAR}
			</if>
			<if test="small != null">
				and small = #{small,jdbcType=INTEGER}
			</if>
			and is_delete =0
		</where>

		order by in_time DESC limit 1
	</select>

	<select id="selectByCondition" parameterType="com.drzk.vo.ParkCarIn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		<where>
			<if test="guid != null">
				guid = #{guid,jdbcType=VARCHAR}
			</if>
			<if test="machNo != null">
				and mach_no = #{machNo,jdbcType=INTEGER}
			</if>
			<if test="yktId != null">
				and ykt_id = #{yktId,jdbcType=INTEGER}
			</if>
			<if test="cardId != null">
				and card_id = #{cardId,jdbcType=VARCHAR}
			</if>
			<if test="cFlag != null">
				and c_flag = #{cFlag,jdbcType=INTEGER}
			</if>
			<if test="cardNo != null">
				and card_no = #{cardNo,jdbcType=VARCHAR}
			</if>
			<if test="cardType != null">
				and card_type = #{cardType,jdbcType=INTEGER}
			</if>
			<if test="empName != null">
				and emp_name = #{empName,jdbcType=VARCHAR}
			</if>
			<if test="inTime != null">
				and in_time <![CDATA[<=]]>
				#{inTime,jdbcType=TIMESTAMP}
			</if>
			<if test="inUserName != null">
				and in_user_name = #{inUserName,jdbcType=VARCHAR}
			</if>
			<if test="carNo != null">
				and car_no = #{carNo,jdbcType=VARCHAR}
			</if>
			<if test="assistantCarNo != null">
				and assistant_car_no = #{assistantCarNo,jdbcType=VARCHAR}
			</if>
			<if test="modifyCarNo != null">
				and modify_car_no = #{modifyCarNo,jdbcType=VARCHAR}
			</if>
			<if test="inPic != null">
				and in_pic = #{inPic,jdbcType=VARCHAR}
			</if>
			<if test="backInPic != null">
				and back_in_pic = #{backInPic,jdbcType=VARCHAR}
			</if>
			<if test="smallPic != null">
				and small_pic = #{smallPic,jdbcType=VARCHAR}
			</if>
			<if test="assistantSmallPic != null">
				and assistant_small_pic = #{assistantSmallPic,jdbcType=VARCHAR}
			</if>
			<if test="carNoType != null">
				and car_no_type = #{carNoType,jdbcType=INTEGER}
			</if>
			<if test="small != null">
				and small = #{small,jdbcType=INTEGER}
			</if>
			<if test="discountNo != null">
				and discount_no = #{discountNo,jdbcType=VARCHAR}
			</if>
			<if test="typeId != null">
				and type_id = #{typeId,jdbcType=INTEGER}
			</if>
			<if test="discountTime != null">
				and discount_time = #{discountTime,jdbcType=TIMESTAMP}
			</if>
			<if test="makeup != null">
				and makeup = #{makeup,jdbcType=INTEGER}
			</if>
			<if test="makeupUserName != null">
				and makeup_user_name = #{makeupUserName,jdbcType=VARCHAR}
			</if>
			<if test="isLocked != null">
				and is_locked = #{isLocked,jdbcType=INTEGER}
			</if>
			<if test="inWay != null">
				and in_way = #{inWay,jdbcType=INTEGER}
			</if>
			<if test="isLoad != null">
				and is_load = #{isLoad,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<select id="getNewNopNo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in WHERE LEFT(car_no,3)='NOP' AND LEFT(car_no,7)<![CDATA[<>]]>'NOPLATE' ORDER BY CONVERT(SUBSTRING(car_no,4,5),SIGNED)
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from park_car_in
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByCondition" parameterType="com.drzk.vo.ParkCarIn">
		delete from park_car_in
		<where>
			<if test="guid != null">
				guid = #{guid,jdbcType=VARCHAR}
			</if>
			<if test="machNo != null">
				and mach_no = #{machNo,jdbcType=INTEGER}
			</if>
			<if test="yktId != null">
				and ykt_id = #{yktId,jdbcType=INTEGER}
			</if>
			<if test="cardId != null">
				and card_id = #{cardId,jdbcType=VARCHAR}
			</if>
			<if test="cFlag != null">
				and c_flag = #{cFlag,jdbcType=INTEGER}
			</if>
			<if test="cardNo != null">
				and card_no = #{cardNo,jdbcType=VARCHAR}
			</if>
			<if test="cardType != null">
				and card_type = #{cardType,jdbcType=INTEGER}
			</if>
			<if test="empName != null">
				and emp_name = #{empName,jdbcType=VARCHAR}
			</if>
			<if test="inTime != null">
				and in_time >= #{inTime,jdbcType=TIMESTAMP}
			</if>
			<if test="inUserName != null">
				and in_user_name = #{inUserName,jdbcType=VARCHAR}
			</if>
			<if test="carNo != null">
				and car_no = #{carNo,jdbcType=VARCHAR}
			</if>
			<if test="assistantCarNo != null">
				and assistant_car_no = #{assistantCarNo,jdbcType=VARCHAR}
			</if>
			<if test="modifyCarNo != null">
				and modify_car_no = #{modifyCarNo,jdbcType=VARCHAR}
			</if>
			<if test="inPic != null">
				and in_pic = #{inPic,jdbcType=VARCHAR}
			</if>
			<if test="backInPic != null">
				and back_in_pic = #{backInPic,jdbcType=VARCHAR},
			</if>
			<if test="smallPic != null">
				and small_pic = #{smallPic,jdbcType=VARCHAR}
			</if>
			<if test="assistantSmallPic != null">
				and assistant_small_pic = #{assistantSmallPic,jdbcType=VARCHAR}
			</if>
			<if test="carNoType != null">
				and car_no_type = #{carNoType,jdbcType=INTEGER}
			</if>
			<if test="small != null">
				and small = #{small,jdbcType=INTEGER}
			</if>
			<if test="discountNo != null">
				and discount_no = #{discountNo,jdbcType=VARCHAR}
			</if>
			<if test="typeId != null">
				and type_id = #{typeId,jdbcType=INTEGER}
			</if>
			<if test="discountTime != null">
				and discount_time = #{discountTime,jdbcType=TIMESTAMP}
			</if>
			<if test="makeup != null">
				and makeup = #{makeup,jdbcType=INTEGER}
			</if>
			<if test="makeupUserName != null">
				and makeup_user_name = #{makeupUserName,jdbcType=VARCHAR}
			</if>
			<if test="isLocked != null">
				and is_locked = #{isLocked,jdbcType=INTEGER}
			</if>
			<if test="inWay != null">
				and in_way = #{inWay,jdbcType=INTEGER}
			</if>
			<if test="isLoad != null">
				and is_load = #{isLoad,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
	<insert id="insert" parameterType="com.drzk.vo.ParkCarIn">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into park_car_in (id, guid, mach_no,
		ykt_id, card_id, c_flag,
		card_no, card_type, emp_name,
		in_time, in_user_name, car_no,
		assistant_car_no, modify_car_no, in_pic,
		back_in_pic, small_pic, assistant_small_pic,
		car_no_type, small, discount_no,
		type_id, discount_time, makeup,
		makeup_user_name, is_locked, in_way,
		is_load)
		values (#{id,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR},
		#{machNo,jdbcType=INTEGER},
		#{yktId,jdbcType=INTEGER}, #{cardId,jdbcType=VARCHAR}, #{cFlag,jdbcType=INTEGER},
		#{cardNo,jdbcType=VARCHAR}, #{cardType,jdbcType=INTEGER},
		#{empName,jdbcType=VARCHAR},
		#{inTime,jdbcType=TIMESTAMP}, #{inUserName,jdbcType=VARCHAR}, #{carNo,jdbcType=VARCHAR},
		#{assistantCarNo,jdbcType=VARCHAR}, #{modifyCarNo,jdbcType=VARCHAR},
		#{inPic,jdbcType=VARCHAR},
		#{backInPic,jdbcType=VARCHAR}, #{smallPic,jdbcType=VARCHAR}, #{assistantSmallPic,jdbcType=VARCHAR},
		#{carNoType,jdbcType=INTEGER}, #{small,jdbcType=INTEGER},
		#{discountNo,jdbcType=VARCHAR},
		#{typeId,jdbcType=INTEGER}, #{discountTime,jdbcType=TIMESTAMP}, #{makeup,jdbcType=INTEGER},
		#{makeupUserName,jdbcType=VARCHAR}, #{isLocked,jdbcType=INTEGER},
		#{inWay,jdbcType=INTEGER},
		#{isLoad,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.drzk.vo.ParkCarIn">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into park_car_in
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="guid != null">
				guid,
			</if>
			<if test="machNo != null">
				mach_no,
			</if>
			<if test="yktId != null">
				ykt_id,
			</if>
			<if test="cardId != null">
				card_id,
			</if>
			<if test="cFlag != null">
				c_flag,
			</if>
			<if test="cardNo != null">
				card_no,
			</if>
			<if test="cardType != null">
				card_type,
			</if>
			<if test="empName != null">
				emp_name,
			</if>
			<if test="inTime != null">
				in_time,
			</if>
			<if test="inUserName != null">
				in_user_name,
			</if>
			<if test="carNo != null">
				car_no,
			</if>
			<if test="assistantCarNo != null">
				assistant_car_no,
			</if>
			<if test="modifyCarNo != null">
				modify_car_no,
			</if>
			<if test="inPic != null">
				in_pic,
			</if>
			<if test="backInPic != null">
				back_in_pic,
			</if>
			<if test="smallPic != null">
				small_pic,
			</if>
			<if test="assistantSmallPic != null">
				assistant_small_pic,
			</if>
			<if test="carNoType != null">
				car_no_type,
			</if>
			<if test="small != null">
				small,
			</if>
			<if test="discountNo != null">
				discount_no,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="discountTime != null">
				discount_time,
			</if>
			<if test="makeup != null">
				makeup,
			</if>
			<if test="makeupUserName != null">
				makeup_user_name,
			</if>
			<if test="isLocked != null">
				is_locked,
			</if>
			<if test="inWay != null">
				in_way,
			</if>
			<if test="isLoad != null">
				is_load,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=INTEGER},
			<if test="guid != null">
				#{guid,jdbcType=VARCHAR},
			</if>
			<if test="machNo != null">
				#{machNo,jdbcType=INTEGER},
			</if>
			<if test="yktId != null">
				#{yktId,jdbcType=INTEGER},
			</if>
			<if test="cardId != null">
				#{cardId,jdbcType=VARCHAR},
			</if>
			<if test="cFlag != null">
				#{cFlag,jdbcType=INTEGER},
			</if>
			<if test="cardNo != null">
				#{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				#{cardType,jdbcType=INTEGER},
			</if>
			<if test="empName != null">
				#{empName,jdbcType=VARCHAR},
			</if>
			<if test="inTime != null">
				#{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="inUserName != null">
				#{inUserName,jdbcType=VARCHAR},
			</if>
			<if test="carNo != null">
				#{carNo,jdbcType=VARCHAR},
			</if>
			<if test="assistantCarNo != null">
				#{assistantCarNo,jdbcType=VARCHAR},
			</if>
			<if test="modifyCarNo != null">
				#{modifyCarNo,jdbcType=VARCHAR},
			</if>
			<if test="inPic != null">
				#{inPic,jdbcType=VARCHAR},
			</if>
			<if test="backInPic != null">
				#{backInPic,jdbcType=VARCHAR},
			</if>
			<if test="smallPic != null">
				#{smallPic,jdbcType=VARCHAR},
			</if>
			<if test="assistantSmallPic != null">
				#{assistantSmallPic,jdbcType=VARCHAR},
			</if>
			<if test="carNoType != null">
				#{carNoType,jdbcType=INTEGER},
			</if>
			<if test="small != null">
				#{small,jdbcType=INTEGER},
			</if>
			<if test="discountNo != null">
				#{discountNo,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=INTEGER},
			</if>
			<if test="discountTime != null">
				#{discountTime,jdbcType=TIMESTAMP},
			</if>
			<if test="makeup != null">
				#{makeup,jdbcType=INTEGER},
			</if>
			<if test="makeupUserName != null">
				#{makeupUserName,jdbcType=VARCHAR},
			</if>
			<if test="isLocked != null">
				#{isLocked,jdbcType=INTEGER},
			</if>
			<if test="inWay != null">
				#{inWay,jdbcType=INTEGER},
			</if>
			<if test="isLoad != null">
				#{isLoad,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.drzk.vo.ParkCarIn">
		update park_car_in
		<set>
			<if test="guid != null">
				guid = #{guid,jdbcType=VARCHAR},
			</if>
			<if test="machNo != null">
				mach_no = #{machNo,jdbcType=INTEGER},
			</if>
			<if test="yktId != null">
				ykt_id = #{yktId,jdbcType=INTEGER},
			</if>
			<if test="cardId != null">
				card_id = #{cardId,jdbcType=VARCHAR},
			</if>
			<if test="cFlag != null">
				c_flag = #{cFlag,jdbcType=INTEGER},
			</if>
			<if test="cardNo != null">
				card_no = #{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				card_type = #{cardType,jdbcType=INTEGER},
			</if>
			<if test="empName != null">
				emp_name = #{empName,jdbcType=VARCHAR},
			</if>
			<if test="inTime != null">
				in_time = #{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="inUserName != null">
				in_user_name = #{inUserName,jdbcType=VARCHAR},
			</if>
			<if test="carNo != null">
				car_no = #{carNo,jdbcType=VARCHAR},
			</if>
			<if test="assistantCarNo != null">
				assistant_car_no = #{assistantCarNo,jdbcType=VARCHAR},
			</if>
			<if test="modifyCarNo != null">
				modify_car_no = #{modifyCarNo,jdbcType=VARCHAR},
			</if>
			<if test="inPic != null">
				in_pic = #{inPic,jdbcType=VARCHAR},
			</if>
			<if test="backInPic != null">
				back_in_pic = #{backInPic,jdbcType=VARCHAR},
			</if>
			<if test="smallPic != null">
				small_pic = #{smallPic,jdbcType=VARCHAR},
			</if>
			<if test="assistantSmallPic != null">
				assistant_small_pic = #{assistantSmallPic,jdbcType=VARCHAR},
			</if>
			<if test="carNoType != null">
				car_no_type = #{carNoType,jdbcType=INTEGER},
			</if>
			<if test="small != null">
				small = #{small,jdbcType=INTEGER},
			</if>
			<if test="discountNo != null">
				discount_no = #{discountNo,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=INTEGER},
			</if>
			<if test="discountTime != null">
				discount_time = #{discountTime,jdbcType=TIMESTAMP},
			</if>
			<if test="makeup != null">
				makeup = #{makeup,jdbcType=INTEGER},
			</if>
			<if test="makeupUserName != null">
				makeup_user_name = #{makeupUserName,jdbcType=VARCHAR},
			</if>
			<if test="isLocked != null">
				is_locked = #{isLocked,jdbcType=INTEGER},
			</if>
			<if test="inWay != null">
				in_way = #{inWay,jdbcType=INTEGER},
			</if>
			<if test="isLoad != null">
				is_load = #{isLoad,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.drzk.vo.ParkCarIn">
		update park_car_in
		set guid = #{guid,jdbcType=VARCHAR},
		mach_no = #{machNo,jdbcType=INTEGER},
		ykt_id = #{yktId,jdbcType=INTEGER},
		card_id = #{cardId,jdbcType=VARCHAR},
		c_flag = #{cFlag,jdbcType=INTEGER},
		card_no = #{cardNo,jdbcType=VARCHAR},
		card_type = #{cardType,jdbcType=INTEGER},
		emp_name = #{empName,jdbcType=VARCHAR},
		in_time = #{inTime,jdbcType=TIMESTAMP},
		in_user_name = #{inUserName,jdbcType=VARCHAR},
		car_no = #{carNo,jdbcType=VARCHAR},
		assistant_car_no = #{assistantCarNo,jdbcType=VARCHAR},
		modify_car_no = #{modifyCarNo,jdbcType=VARCHAR},
		in_pic = #{inPic,jdbcType=VARCHAR},
		back_in_pic = #{backInPic,jdbcType=VARCHAR},
		small_pic = #{smallPic,jdbcType=VARCHAR},
		assistant_small_pic = #{assistantSmallPic,jdbcType=VARCHAR},
		car_no_type = #{carNoType,jdbcType=INTEGER},
		small = #{small,jdbcType=INTEGER},
		discount_no = #{discountNo,jdbcType=VARCHAR},
		type_id = #{typeId,jdbcType=INTEGER},
		discount_time = #{discountTime,jdbcType=TIMESTAMP},
		makeup = #{makeup,jdbcType=INTEGER},
		makeup_user_name = #{makeupUserName,jdbcType=VARCHAR},
		is_locked = #{isLocked,jdbcType=INTEGER},
		in_way = #{inWay,jdbcType=INTEGER},
		is_load = #{isLoad,jdbcType=INTEGER},
		is_delete = #{isDelete,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectAllParkIn" resultType="java.lang.Integer">
		select count(id) from park_car_in where is_delete=0
	</select>
	<select id="selectAllParkInCarNo" resultType="java.lang.String">
		select car_no from park_car_in where is_delete=0
	</select>
	<select id="selectByCarNos" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		where car_no in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		and small=0
	</select>

	<select id="getBigParkPlaceNumUsing" resultType="java.util.HashMap">
		Select Sum(Case when card_type in (31,32,33,34) then 1 else 0 end) as
		TmpCar,
		Sum(Case when card_type in (11,12,13,14,15,16,21,22,23,24) then 1 else 0 end)
		as MonthCar,
		Sum(Case when card_type in (51,52,53,54) then 1 else 0 end) as MoneyCar,
		Sum(Case when card_type in (41,42) then 1 else 0 end) as FreeCar from
		park_car_in where card_type <![CDATA[<>]]>
		3 and Small=0 and
		mach_no in (Select mach_no from park_channel_set where in_out=0 or in_out=4 )
	</select>
	<select id="getSmallParkPlaceNumUsing" resultType="java.util.HashMap">
		Select Sum(Case when card_type in (31,32,33,34) then 1 else 0 end) as
		TmpCar,
		Sum(Case when card_type in (11,12,13,14,15,16,21,22,23,24) then 1 else 0 end)
		as MonthCar,
		Sum(Case when card_type in (51,52,53,54) then 1 else 0 end) as MoneyCar,
		Sum(Case when card_type in (41,42) then 1 else 0 end) as FreeCar
		from park_car_in where card_type <![CDATA[<>]]>
		3 and Small=1 and mach_no in
		(Select mach_no from park_channel_set where in_out=0 or in_out=4 )
	</select>


	<select id="selectTopDS" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		where (is_load =0 or is_load is null) 
		and is_delete=0
		order by in_time limit 100
	</select>

	<update id="updateDSStatusFalied">
		update park_car_in
		set is_load=#{status}
		where guid in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>

	<select id="selectByGuid" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		where is_load !=1 and guid =#{guid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteDSDelete" parameterType="java.util.List">
		delete from  park_car_in 
		where is_load=1
		and guid in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="selectTopDSDelete"  
		resultType="java.lang.String">
		select
		 guid
		from park_car_in
		where is_load=0 and is_delete=1
	</select>
	
	<select id="selectParkInByGroup" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_car_in
		where car_no in
		<foreach item="item" index="index" collection="carNos" open="("
			separator="," close=")">
			#{item}
		</foreach>
		and card_type = #{cardType}
		and is_delete=0
		order by in_time limit 1
	</select>
	
</mapper>