<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drzk.mapper.ParkChannelSetMapper">
	<resultMap id="BaseResultMap" type="com.drzk.vo.ParkChannelSet">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="box_id" jdbcType="INTEGER" property="boxId" />
		<result column="mach_no" jdbcType="INTEGER" property="machNo" />
		<result column="channel_ip" jdbcType="VARCHAR" property="channelIp" />
		<result column="channel_name" jdbcType="VARCHAR" property="channelName" />
		<result column="dsn" jdbcType="VARCHAR" property="dsn" />
		<result column="in_out" jdbcType="INTEGER" property="inOut" />
		<result column="gate_type" jdbcType="INTEGER" property="gateType" />
		<result column="park_no" jdbcType="INTEGER" property="parkNo" />
		<result column="no_money" jdbcType="INTEGER" property="noMoney" />
		<result column="strobe_set" jdbcType="VARCHAR" property="strobeSet" />
		<result column="strobe_no" jdbcType="INTEGER" property="strobeNo" />
		<result column="work_model" jdbcType="VARCHAR" property="workModel" />
		<result column="enclosure" jdbcType="VARCHAR" property="enclosure" />
		<result column="video_list" jdbcType="VARCHAR" property="videoList" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
		<result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
		<result column="is_load" jdbcType="INTEGER" property="isLoad" />
		<result column="del_frag" jdbcType="INTEGER" property="delFrag" />
		<result column="cuid" jdbcType="VARCHAR" property="cuid" />
	</resultMap>
	<sql id="Base_Column_List">
		id, box_id, mach_no, channel_ip, channel_name, dsn, in_out,
		gate_type,
		park_no, no_money,
		strobe_set, strobe_no, work_model,
		enclosure, video_list, create_date,
		create_user_name,
		modify_date,
		modify_user_name, is_load,del_frag,cuid
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_channel_set
		where del_frag=0 and id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByCondition" parameterType="com.drzk.vo.ParkChannelSet"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_channel_set
		<where>
			<if test="boxId != null">
				and box_id = #{boxId,jdbcType=INTEGER}
			</if>
			<if test="machNo != null">
				and mach_no = #{machNo,jdbcType=INTEGER}
			</if>
			<if test="channelIp != null">
				channel_ip = #{channelIp,jdbcType=VARCHAR}
			</if>
			<if test="channelName != null">
				and channel_name = #{channelName,jdbcType=VARCHAR}
			</if>
			<if test="dsn != null">
				and dsn = #{dsn,jdbcType=VARCHAR}
			</if>
			<if test="inOut != null">
				and in_out = #{inOut,jdbcType=INTEGER}
			</if>
			<if test="gateType != null">
				and gate_type = #{gateType,jdbcType=INTEGER}
			</if>
			<if test="parkNo != null">
				and park_no = #{parkNo,jdbcType=INTEGER}
			</if>
			<if test="noMoney != null">
				and no_money = #{noMoney,jdbcType=INTEGER}
			</if>
			<if test="strobeSet != null">
				and strobe_set = #{strobeSet,jdbcType=VARCHAR}
			</if>
			<if test="strobeNo != null">
				and strobe_no = #{strobeNo,jdbcType=INTEGER}
			</if>
			<if test="workModel != null">
				and work_model = #{workModel,jdbcType=VARCHAR}
			</if>
			<if test="enclosure != null">
				and enclosure = #{enclosure,jdbcType=VARCHAR}
			</if>
			<if test="videoList != null">
				and video_list = #{videoList,jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate,jdbcType=TIMESTAMP}
			</if>
			<if test="createUserName != null">
				and create_user_name = #{createUserName,jdbcType=VARCHAR}
			</if>
			<if test="modifyDate != null">
				and modify_date = #{modifyDate,jdbcType=TIMESTAMP}
			</if>
			<if test="modifyUserName != null">
				and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
			</if>
			<if test="isLoad != null">
				and is_load = #{isLoad,jdbcType=INTEGER}
			</if>
			and del_frag =0
		</where>
	</select>

	<select id="selectByMachNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		 from park_channel_set where mach_no = #{machNo,jdbcType=INTEGER} and del_frag =0
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		park_channel_set
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.drzk.vo.ParkChannelSet">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into park_channel_set (cuid,box_id, mach_no,
		channel_ip,
		channel_name, dsn,
		in_out, gate_type, park_no,
		no_money, strobe_set,
		strobe_no,
		work_model, enclosure, video_list,
		create_date,
		create_user_name, modify_date,
		modify_user_name, is_load,del_frag)
		values
		(#{cuid},#{boxId,jdbcType=INTEGER},
		#{machNo,jdbcType=INTEGER},
		#{channelIp,jdbcType=VARCHAR},
		#{channelName,jdbcType=VARCHAR}, #{dsn,jdbcType=VARCHAR},
		#{inOut,jdbcType=INTEGER}, #{gateType,jdbcType=INTEGER},
		#{parkNo,jdbcType=INTEGER},
		#{noMoney,jdbcType=INTEGER},
		#{strobeSet,jdbcType=VARCHAR}, #{strobeNo,jdbcType=INTEGER},
		#{workModel,jdbcType=VARCHAR}, #{enclosure,jdbcType=VARCHAR},
		#{videoList,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{createUserName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP},
		#{modifyUserName,jdbcType=VARCHAR}, #{isLoad,jdbcType=INTEGER},#{delFrag})
	</insert>
	<insert id="insertSelective" parameterType="com.drzk.vo.ParkChannelSet">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into park_channel_set
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="boxId != null">
				box_id,
			</if>
			<if test="machNo != null">
				mach_no,
			</if>
			<if test="channelIp != null">
				channel_ip,
			</if>
			<if test="channelName != null">
				channel_name,
			</if>
			<if test="dsn != null">
				dsn,
			</if>
			<if test="inOut != null">
				in_out,
			</if>
			<if test="gateType != null">
				gate_type,
			</if>
			<if test="parkNo != null">
				park_no,
			</if>
			<if test="noMoney != null">
				no_money,
			</if>
			<if test="strobeSet != null">
				strobe_set,
			</if>
			<if test="strobeNo != null">
				strobe_no,
			</if>
			<if test="workModel != null">
				work_model,
			</if>
			<if test="enclosure != null">
				enclosure,
			</if>
			<if test="videoList != null">
				video_list,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
			<if test="modifyUserName != null">
				modify_user_name,
			</if>
			<if test="isLoad != null">
				is_load,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=INTEGER},
			<if test="boxId != null">
				#{boxId,jdbcType=INTEGER},
			</if>
			<if test="machNo != null">
				#{machNo,jdbcType=INTEGER},
			</if>
			<if test="channelIp != null">
				#{channelIp,jdbcType=VARCHAR},
			</if>
			<if test="channelName != null">
				#{channelName,jdbcType=VARCHAR},
			</if>
			<if test="dsn != null">
				#{dsn,jdbcType=VARCHAR},
			</if>
			<if test="inOut != null">
				#{inOut,jdbcType=INTEGER},
			</if>
			<if test="gateType != null">
				#{gateType,jdbcType=INTEGER},
			</if>
			<if test="parkNo != null">
				#{parkNo,jdbcType=INTEGER},
			</if>
			<if test="noMoney != null">
				#{noMoney,jdbcType=INTEGER},
			</if>
			<if test="strobeSet != null">
				#{strobeSet,jdbcType=VARCHAR},
			</if>
			<if test="strobeNo != null">
				#{strobeNo,jdbcType=INTEGER},
			</if>
			<if test="workModel != null">
				#{workModel,jdbcType=VARCHAR},
			</if>
			<if test="enclosure != null">
				#{enclosure,jdbcType=VARCHAR},
			</if>
			<if test="videoList != null">
				#{videoList,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserName != null">
				#{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserName != null">
				#{modifyUserName,jdbcType=VARCHAR},
			</if>
			<if test="isLoad != null">
				#{isLoad,jdbcType=INTEGER},
			</if>

		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.drzk.vo.ParkChannelSet">
		update park_channel_set
		<set>
			<if test="boxId != null">
				box_id = #{boxId,jdbcType=INTEGER},
			</if>
			<if test="machNo != null">
				mach_no = #{machNo,jdbcType=INTEGER},
			</if>
			<if test="channelIp != null">
				channel_ip = #{channelIp,jdbcType=VARCHAR},
			</if>
			<if test="channelName != null">
				channel_name = #{channelName,jdbcType=VARCHAR},
			</if>
			<if test="dsn != null">
				dsn = #{dsn,jdbcType=VARCHAR},
			</if>
			<if test="inOut != null">
				in_out = #{inOut,jdbcType=INTEGER},
			</if>
			<if test="gateType != null">
				gate_type = #{gateType,jdbcType=INTEGER},
			</if>
			<if test="parkNo != null">
				park_no = #{parkNo,jdbcType=INTEGER},
			</if>
			<if test="noMoney != null">
				no_money = #{noMoney,jdbcType=INTEGER},
			</if>
			<if test="strobeSet != null">
				strobe_set = #{strobeSet,jdbcType=VARCHAR},
			</if>
			<if test="strobeNo != null">
				strobe_no = #{strobeNo,jdbcType=INTEGER},
			</if>
			<if test="workModel != null">
				work_model = #{workModel,jdbcType=VARCHAR},
			</if>
			<if test="enclosure != null">
				enclosure = #{enclosure,jdbcType=VARCHAR},
			</if>
			<if test="videoList != null">
				video_list = #{videoList,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserName != null">
				create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserName != null">
				modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
			</if>
			<if test="isLoad != null">
				is_load = #{isLoad,jdbcType=INTEGER},
			</if>

		</set>
		where del_frag=0 and id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.drzk.vo.ParkChannelSet">
		update
		park_channel_set
		set box_id = #{boxId,jdbcType=INTEGER},
		mach_no =
		#{machNo,jdbcType=INTEGER},
		channel_ip = #{channelIp,jdbcType=VARCHAR},
		channel_name = #{channelName,jdbcType=VARCHAR},
		dsn =
		#{dsn,jdbcType=VARCHAR},
		in_out = #{inOut,jdbcType=INTEGER},
		gate_type =
		#{gateType,jdbcType=INTEGER},
		park_no = #{parkNo,jdbcType=INTEGER},
		no_money = #{noMoney,jdbcType=INTEGER},
		strobe_set =
		#{strobeSet,jdbcType=VARCHAR},
		strobe_no =
		#{strobeNo,jdbcType=INTEGER},
		work_model =
		#{workModel,jdbcType=VARCHAR},
		enclosure =
		#{enclosure,jdbcType=VARCHAR},
		video_list =
		#{videoList,jdbcType=VARCHAR},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		create_user_name =
		#{createUserName,jdbcType=VARCHAR},
		modify_date =
		#{modifyDate,jdbcType=TIMESTAMP},
		modify_user_name =
		#{modifyUserName,jdbcType=VARCHAR},
		is_load =
		#{isLoad,jdbcType=INTEGER}
		where del_frag =0 and id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectAllChannelInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_channel_set
		where del_frag =0
	</select>
	<select id="selectDSTop" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_channel_set
		where is_load =0 or is_load is null limit 100
	</select>
	<update id="updateDSStatus">
		update park_channel_set
		set
		is_load = #{status}
		where cuid in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<select id="selectByGuid" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from park_channel_set
		where is_load=0 and cuid
		=#{cuid,jdbcType=VARCHAR}
	</select>

    <select id="selectByUuid" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id
        from park_channel_set
        where cuid #{cuid}
    </select>

    <update id="updateByUuid" parameterType="com.drzk.vo.ParkChannelSet">
        update park_channel_set
        set channel_ip = #{channelIp},
        channel_name = #{channelName},
        in_out = #{inOut},
        gate_type =#{gateType},
        no_money = #{noMoney},
        strobe_set =#{strobeSet},
        strobe_no =#{strobeNo},
        work_model =#{workModel},
        modify_date =#{modifyDate},
        modify_user_name =#{modifyUserName}
        where cuid= #{cuid}
    </update>

    <update id="deleteByUuid" parameterType="com.drzk.vo.ParkChannelSet">
        update park_channel_set
        set del_frag = #{delFrag}
        where cuid = #{cuid}
    </update>
	

</mapper>