<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drzk.mapper.ParkCarGroupMapper" >
  <resultMap id="BaseResultMap" type="com.drzk.online.vo.ParkCarGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cuid" property="cuid" jdbcType="VARCHAR" />
    <result column="place_name" property="placeName" jdbcType="VARCHAR" />
    <result column="p_type" property="pType" jdbcType="INTEGER" />
    <result column="place_num" property="placeNum" jdbcType="INTEGER" />
    <result column="place_in" property="placeIn" jdbcType="INTEGER" />
    <result column="s_date" property="sDate" jdbcType="TIMESTAMP" />
    <result column="e_date" property="eDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="is_load" property="isLoad" jdbcType="INTEGER" />
    <result column="del_frag" property="delFrag" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, cuid, place_name, p_type, place_num, place_in, s_date, e_date, create_date, create_user_name, 
    modify_date, modify_user_name, memo, is_load, del_frag
  </sql>

  <select id="findAllGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from park_car_group where is_load=0
  </select>

  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from park_car_group
    where id = #{id,jdbcType=INTEGER}
  </select>

	<select id="getByCuid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from park_car_group
		where cuid = #{cuid,jdbcType=VARCHAR}
	</select>

    <select id="getByGroupName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
		<include refid="Base_Column_List" />
		from park_car_group
		where place_name = #{placeName,jdbcType=VARCHAR}
    </select>

  <insert id="insert" parameterType="com.drzk.online.vo.ParkCarGroup" >
    insert into park_car_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cuid != null" >
        cuid,
      </if>
      <if test="placeName != null" >
        place_name,
      </if>
      <if test="pType != null" >
        p_type,
      </if>
      <if test="placeNum != null" >
        place_num,
      </if>
      <if test="placeIn != null" >
        place_in,
      </if>
      <if test="sDate != null" >
        s_date,
      </if>
      <if test="eDate != null" >
        e_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="isLoad != null" >
        is_load,
      </if>
      <if test="delFrag != null" >
        del_frag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null" >
        #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=INTEGER},
      </if>
      <if test="placeNum != null" >
        #{placeNum,jdbcType=INTEGER},
      </if>
      <if test="placeIn != null" >
        #{placeIn,jdbcType=INTEGER},
      </if>
      <if test="sDate != null" >
        #{sDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eDate != null" >
        #{eDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isLoad != null" >
        #{isLoad,jdbcType=INTEGER},
      </if>
      <if test="delFrag != null" >
        #{delFrag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.drzk.online.vo.ParkCarGroup" >
    update park_car_group
    <set >
      <if test="placeName != null" >
        place_name = #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        p_type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="placeNum != null" >
        place_num = #{placeNum,jdbcType=INTEGER},
      </if>
      <if test="placeIn != null" >
        place_in = #{placeIn,jdbcType=INTEGER},
      </if>
      <if test="sDate != null" >
        s_date = #{sDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eDate != null" >
        e_date = #{eDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isLoad != null" >
        is_load = #{isLoad,jdbcType=INTEGER},
      </if>
      <if test="delFrag != null" >
        del_frag = #{delFrag,jdbcType=INTEGER},
      </if>
    </set>
    where cuid = #{cuid,jdbcType=VARCHAR}
  </update>

  <update id="updateStatus">
    update park_car_group set is_load = #{isLoad}
      where cuid in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
  
</mapper>