<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drzk.mapper.ParkSumUserMapper">
    <resultMap id="BaseResultMap" type="com.drzk.vo.ParkSumUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="box_id" jdbcType="INTEGER" property="boxId"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="relief_date" jdbcType="TIMESTAMP" property="reliefDate"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="relief_user_name" jdbcType="VARCHAR" property="reliefUserName"/>
        <result column="hand_gate" jdbcType="INTEGER" property="handGate"/>
        <result column="computer_gate" jdbcType="INTEGER" property="computerGate"/>
        <result column="temp_car_in" jdbcType="INTEGER" property="tempCarIn"/>
        <result column="temp_car_out" jdbcType="INTEGER" property="tempCarOut"/>
        <result column="month_car_in" jdbcType="INTEGER" property="monthCarIn"/>
        <result column="month_car_out" jdbcType="INTEGER" property="monthCarOut"/>
        <result column="stored_car_num" jdbcType="INTEGER" property="storedCarNum"/>
        <result column="stored_car_money" jdbcType="REAL" property="storedCarMoney"/>
        <result column="temp_free" jdbcType="INTEGER" property="tempFree"/>
        <result column="free_car_no" jdbcType="INTEGER" property="freeCarNo"/>
        <result column="free_charge" jdbcType="REAL" property="freeCharge"/>
        <result column="dis_sum" jdbcType="INTEGER" property="disSum"/>
        <result column="dis_charge" jdbcType="REAL" property="disCharge"/>
        <result column="cash_charge" jdbcType="REAL" property="cashCharge"/>
        <result column="wechat_charge" jdbcType="REAL" property="wechatCharge"/>
        <result column="alipay_charge" jdbcType="REAL" property="alipayCharge"/>
        <result column="unionpay_chagre" jdbcType="REAL" property="unionpayChagre"/>
        <result column="thirdpay_charge" jdbcType="REAL" property="thirdpayCharge"/>
        <result column="account" jdbcType="REAL" property="account"/>
        <result column="is_load" jdbcType="INTEGER" property="isLoad"/>
        <result column="puid" jdbcType="VARCHAR" property="puid"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, box_id, login_date, relief_date, user_name, relief_user_name,
		hand_gate, computer_gate,
		temp_car_in, temp_car_out, month_car_in, month_car_out, stored_car_num,
		stored_car_money,
		temp_free, free_car_no, free_charge, dis_sum, dis_charge, cash_charge,
		wechat_charge,
		alipay_charge, unionpay_chagre, thirdpay_charge, account,is_load,puid
	</sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByCondition" parameterType="com.drzk.vo.ParkSumUser"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        <where>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="loginDate != null">
                and login_date = #{loginDate,jdbcType=TIMESTAMP}
            </if>
            <if test="reliefDate != null">
                and relief_date = #{reliefDate,jdbcType=TIMESTAMP}
            </if>
            <if test="userName != null">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="reliefUserName != null">
                and relief_user_name = #{reliefUserName,jdbcType=VARCHAR}
            </if>
            <if test="handGate != null">
                and hand_gate = #{handGate,jdbcType=INTEGER}
            </if>
            <if test="computerGate != null">
                and computer_gate = #{computerGate,jdbcType=INTEGER}
            </if>
            <if test="tempCarIn != null">
                and temp_car_in = #{tempCarIn,jdbcType=INTEGER}
            </if>
            <if test="tempCarOut != null">
                and temp_car_out = #{tempCarOut,jdbcType=INTEGER}
            </if>
            <if test="monthCarIn != null">
                and month_car_in = #{monthCarIn,jdbcType=INTEGER}
            </if>
            <if test="monthCarOut != null">
                and month_car_out = #{monthCarOut,jdbcType=INTEGER}
            </if>
            <if test="storedCarNum != null">
                and stored_car_num = #{storedCarNum,jdbcType=INTEGER}
            </if>
            <if test="storedCarMoney != null">
                and stored_car_money = #{storedCarMoney,jdbcType=REAL}
            </if>
            <if test="tempFree != null">
                and temp_free = #{tempFree,jdbcType=INTEGER}
            </if>
            <if test="freeCarNo != null">
                and free_car_no = #{freeCarNo,jdbcType=INTEGER}
            </if>
            <if test="freeCharge != null">
                and free_charge = #{freeCharge,jdbcType=REAL}
            </if>
            <if test="disSum != null">
                and dis_sum = #{disSum,jdbcType=INTEGER}
            </if>
            <if test="disCharge != null">
                and dis_charge = #{disCharge,jdbcType=REAL}
            </if>
            <if test="cashCharge != null">
                and cash_charge = #{cashCharge,jdbcType=REAL}
            </if>
            <if test="wechatCharge != null">
                and wechat_charge = #{wechatCharge,jdbcType=REAL}
            </if>
            <if test="alipayCharge != null">
                and alipay_charge = #{alipayCharge,jdbcType=REAL}
            </if>
            <if test="unionpayChagre != null">
                and unionpay_chagre = #{unionpayChagre,jdbcType=REAL}
            </if>
            <if test="thirdpayCharge != null">
                and thirdpay_charge = #{thirdpayCharge,jdbcType=REAL}
            </if>
            <if test="account != null">
                and account = #{account,jdbcType=REAL}
            </if>
        </where>
        order by login_date DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from park_sum_user
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insert" parameterType="com.drzk.vo.ParkSumUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into park_sum_user (id, puid, box_id, login_date,
        relief_date, user_name, relief_user_name,
        hand_gate, computer_gate, temp_car_in,
        temp_car_out, month_car_in, month_car_out,
        stored_car_num, stored_car_money, temp_free,
        free_car_no, free_charge, dis_sum,
        dis_charge, cash_charge, wechat_charge,
        alipay_charge, unionpay_chagre, thirdpay_charge,
        account)
        values (#{id,jdbcType=INTEGER}, #{puid,jdbcType=VARCHAR}, #{boxId,jdbcType=INTEGER},
        #{loginDate,jdbcType=TIMESTAMP},
        #{reliefDate,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{reliefUserName,jdbcType=VARCHAR},
        #{handGate,jdbcType=INTEGER}, #{computerGate,jdbcType=INTEGER},
        #{tempCarIn,jdbcType=INTEGER},
        #{tempCarOut,jdbcType=INTEGER}, #{monthCarIn,jdbcType=INTEGER}, #{monthCarOut,jdbcType=INTEGER},
        #{storedCarNum,jdbcType=INTEGER}, #{storedCarMoney,jdbcType=REAL},
        #{tempFree,jdbcType=INTEGER},
        #{freeCarNo,jdbcType=INTEGER}, #{freeCharge,jdbcType=REAL}, #{disSum,jdbcType=INTEGER},
        #{disCharge,jdbcType=REAL}, #{cashCharge,jdbcType=REAL},
        #{wechatCharge,jdbcType=REAL},
        #{alipayCharge,jdbcType=REAL}, #{unionpayChagre,jdbcType=REAL}, #{thirdpayCharge,jdbcType=REAL},
        #{account,jdbcType=REAL})
    </insert>

    <insert id="insertSelective" parameterType="com.drzk.vo.ParkSumUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into park_sum_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="boxId != null">
                box_id,
            </if>
            <if test="loginDate != null">
                login_date,
            </if>
            <if test="reliefDate != null">
                relief_date,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="reliefUserName != null">
                relief_user_name,
            </if>
            <if test="handGate != null">
                hand_gate,
            </if>
            <if test="computerGate != null">
                computer_gate,
            </if>
            <if test="tempCarIn != null">
                temp_car_in,
            </if>
            <if test="tempCarOut != null">
                temp_car_out,
            </if>
            <if test="monthCarIn != null">
                month_car_in,
            </if>
            <if test="monthCarOut != null">
                month_car_out,
            </if>
            <if test="storedCarNum != null">
                stored_car_num,
            </if>
            <if test="storedCarMoney != null">
                stored_car_money,
            </if>
            <if test="tempFree != null">
                temp_free,
            </if>
            <if test="freeCarNo != null">
                free_car_no,
            </if>
            <if test="freeCharge != null">
                free_charge,
            </if>
            <if test="disSum != null">
                dis_sum,
            </if>
            <if test="disCharge != null">
                dis_charge,
            </if>
            <if test="cashCharge != null">
                cash_charge,
            </if>
            <if test="wechatCharge != null">
                wechat_charge,
            </if>
            <if test="alipayCharge != null">
                alipay_charge,
            </if>
            <if test="unionpayChagre != null">
                unionpay_chagre,
            </if>
            <if test="thirdpayCharge != null">
                thirdpay_charge,
            </if>
            <if test="account != null">
                account,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="boxId != null">
                #{boxId,jdbcType=INTEGER},
            </if>
            <if test="loginDate != null">
                #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reliefDate != null">
                #{reliefDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="reliefUserName != null">
                #{reliefUserName,jdbcType=VARCHAR},
            </if>
            <if test="handGate != null">
                #{handGate,jdbcType=INTEGER},
            </if>
            <if test="computerGate != null">
                #{computerGate,jdbcType=INTEGER},
            </if>
            <if test="tempCarIn != null">
                #{tempCarIn,jdbcType=INTEGER},
            </if>
            <if test="tempCarOut != null">
                #{tempCarOut,jdbcType=INTEGER},
            </if>
            <if test="monthCarIn != null">
                #{monthCarIn,jdbcType=INTEGER},
            </if>
            <if test="monthCarOut != null">
                #{monthCarOut,jdbcType=INTEGER},
            </if>
            <if test="storedCarNum != null">
                #{storedCarNum,jdbcType=INTEGER},
            </if>
            <if test="storedCarMoney != null">
                #{storedCarMoney,jdbcType=REAL},
            </if>
            <if test="tempFree != null">
                #{tempFree,jdbcType=INTEGER},
            </if>
            <if test="freeCarNo != null">
                #{freeCarNo,jdbcType=INTEGER},
            </if>
            <if test="freeCharge != null">
                #{freeCharge,jdbcType=REAL},
            </if>
            <if test="disSum != null">
                #{disSum,jdbcType=INTEGER},
            </if>
            <if test="disCharge != null">
                #{disCharge,jdbcType=REAL},
            </if>
            <if test="cashCharge != null">
                #{cashCharge,jdbcType=REAL},
            </if>
            <if test="wechatCharge != null">
                #{wechatCharge,jdbcType=REAL},
            </if>
            <if test="alipayCharge != null">
                #{alipayCharge,jdbcType=REAL},
            </if>
            <if test="unionpayChagre != null">
                #{unionpayChagre,jdbcType=REAL},
            </if>
            <if test="thirdpayCharge != null">
                #{thirdpayCharge,jdbcType=REAL},
            </if>
            <if test="account != null">
                #{account,jdbcType=REAL},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.drzk.vo.ParkSumUser">
        update park_sum_user
        <set>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER},
            </if>
            <if test="loginDate != null">
                login_date = #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reliefDate != null">
                relief_date = #{reliefDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="reliefUserName != null">
                relief_user_name = #{reliefUserName,jdbcType=VARCHAR},
            </if>
            <if test="handGate != null">
                hand_gate = #{handGate,jdbcType=INTEGER},
            </if>
            <if test="computerGate != null">
                computer_gate = #{computerGate,jdbcType=INTEGER},
            </if>
            <if test="tempCarIn != null">
                temp_car_in = #{tempCarIn,jdbcType=INTEGER},
            </if>
            <if test="tempCarOut != null">
                temp_car_out = #{tempCarOut,jdbcType=INTEGER},
            </if>
            <if test="monthCarIn != null">
                month_car_in = #{monthCarIn,jdbcType=INTEGER},
            </if>
            <if test="monthCarOut != null">
                month_car_out = #{monthCarOut,jdbcType=INTEGER},
            </if>
            <if test="storedCarNum != null">
                stored_car_num = #{storedCarNum,jdbcType=INTEGER},
            </if>
            <if test="storedCarMoney != null">
                stored_car_money = #{storedCarMoney,jdbcType=REAL},
            </if>
            <if test="tempFree != null">
                temp_free = #{tempFree,jdbcType=INTEGER},
            </if>
            <if test="freeCarNo != null">
                free_car_no = #{freeCarNo,jdbcType=INTEGER},
            </if>
            <if test="freeCharge != null">
                free_charge = #{freeCharge,jdbcType=REAL},
            </if>
            <if test="disSum != null">
                dis_sum = #{disSum,jdbcType=INTEGER},
            </if>
            <if test="disCharge != null">
                dis_charge = #{disCharge,jdbcType=REAL},
            </if>
            <if test="cashCharge != null">
                cash_charge = #{cashCharge,jdbcType=REAL},
            </if>
            <if test="wechatCharge != null">
                wechat_charge = #{wechatCharge,jdbcType=REAL},
            </if>
            <if test="alipayCharge != null">
                alipay_charge = #{alipayCharge,jdbcType=REAL},
            </if>
            <if test="unionpayChagre != null">
                unionpay_chagre = #{unionpayChagre,jdbcType=REAL},
            </if>
            <if test="thirdpayCharge != null">
                thirdpay_charge = #{thirdpayCharge,jdbcType=REAL},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.drzk.vo.ParkSumUser">
		update park_sum_user
		set box_id = #{boxId,jdbcType=INTEGER},
		login_date = #{loginDate,jdbcType=TIMESTAMP},
		relief_date = #{reliefDate,jdbcType=TIMESTAMP},
		user_name = #{userName,jdbcType=VARCHAR},
		relief_user_name = #{reliefUserName,jdbcType=VARCHAR},
		hand_gate = #{handGate,jdbcType=INTEGER},
		computer_gate = #{computerGate,jdbcType=INTEGER},
		temp_car_in = #{tempCarIn,jdbcType=INTEGER},
		temp_car_out = #{tempCarOut,jdbcType=INTEGER},
		month_car_in = #{monthCarIn,jdbcType=INTEGER},
		month_car_out = #{monthCarOut,jdbcType=INTEGER},
		stored_car_num = #{storedCarNum,jdbcType=INTEGER},
		stored_car_money = #{storedCarMoney,jdbcType=REAL},
		temp_free = #{tempFree,jdbcType=INTEGER},
		free_car_no = #{freeCarNo,jdbcType=INTEGER},
		free_charge = #{freeCharge,jdbcType=REAL},
		dis_sum = #{disSum,jdbcType=INTEGER},
		dis_charge = #{disCharge,jdbcType=REAL},
		cash_charge = #{cashCharge,jdbcType=REAL},
		wechat_charge = #{wechatCharge,jdbcType=REAL},
		alipay_charge = #{alipayCharge,jdbcType=REAL},
		unionpay_chagre = #{unionpayChagre,jdbcType=REAL},
		thirdpay_charge = #{thirdpayCharge,jdbcType=REAL},
		account = #{account,jdbcType=REAL}
		where id = #{id,jdbcType=INTEGER}
	</update>


    <select id="selectTopDS" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        where is_load =0 or is_load is null
        order by id limit 100
    </select>

    <select id="selectByGuid" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        where puid =#{puid,jdbcType=VARCHAR}
    </select>

    <select id="selectByBoxId" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        where box_id =#{boxId,jdbcType=INTEGER}
        order by id desc limit 1
    </select>

    <select id="selectByUser" parameterType="com.drzk.vo.ParkSumUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_sum_user
        <where>
            relief_user_name is null
            <if test="boxId!=null">
                and box_id =#{boxId}
            </if>

            <if test="loginDate!=null">
                and login_date=#{loginDate}
            </if>

            <if test="userName!=null">
                and user_name=#{userName}
            </if>
        </where>
        order by id desc limit 1
    </select>

    <update id="updateDSStatusFalied">
        update park_sum_user
        set is_load =#{status}
        where puid in
        <foreach collection="list" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>