<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drzk.mapper.SysParametersMapper">
	<resultMap id="BaseResultMap" type="com.drzk.vo.SysParameters">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="parameter_code" jdbcType="VARCHAR" property="parameterCode" />
		<result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
		<result column="parameter_value" jdbcType="VARCHAR" property="parameterValue" />
		<result column="type_id" jdbcType="INTEGER" property="typeId" />
		<result column="is_edit" jdbcType="INTEGER" property="isEdit" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
		<result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
		<result column="memo" jdbcType="VARCHAR" property="memo" />
	</resultMap>
	<sql id="Base_Column_List">
		id, parameter_code, parameter_name, parameter_value, type_id, is_edit,
		create_date,
		create_user_name, modify_date, modify_user_name, memo
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_parameters
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_parameters
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.drzk.vo.SysParameters">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_parameters (id, parameter_code, parameter_name,
		parameter_value, type_id, is_edit,
		create_date, create_user_name, modify_date,
		modify_user_name, memo)
		values (#{id,jdbcType=INTEGER}, #{parameterCode,jdbcType=VARCHAR},
		#{parameterName,jdbcType=VARCHAR},
		#{parameterValue,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{isEdit,jdbcType=INTEGER},
		#{createDate,jdbcType=TIMESTAMP}, #{createUserName,jdbcType=VARCHAR},
		#{modifyDate,jdbcType=TIMESTAMP},
		#{modifyUserName,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.drzk.vo.SysParameters">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_parameters
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="parameterCode != null">
				parameter_code,
			</if>
			<if test="parameterName != null">
				parameter_name,
			</if>
			<if test="parameterValue != null">
				parameter_value,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="isEdit != null">
				is_edit,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
			<if test="modifyUserName != null">
				modify_user_name,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=INTEGER},
			<if test="parameterCode != null">
				#{parameterCode,jdbcType=VARCHAR},
			</if>
			<if test="parameterName != null">
				#{parameterName,jdbcType=VARCHAR},
			</if>
			<if test="parameterValue != null">
				#{parameterValue,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=INTEGER},
			</if>
			<if test="isEdit != null">
				#{isEdit,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserName != null">
				#{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserName != null">
				#{modifyUserName,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<insert id="saveList" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into sys_parameters (id, parameter_code, parameter_name,
		parameter_value, type_id, is_edit,
		create_date, create_user_name,
		modify_date,
		modify_user_name, memo)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.parameterCode,jdbcType=VARCHAR},
			#{item.parameterName,jdbcType=VARCHAR},
			#{item.parameterValue,jdbcType=VARCHAR},
			#{item.typeId,jdbcType=INTEGER}, #{item.isEdit,jdbcType=INTEGER},
			#{item.createDate,jdbcType=TIMESTAMP},
			#{item.createUserName,jdbcType=VARCHAR},
			#{item.modifyDate,jdbcType=TIMESTAMP},
			#{item.modifyUserName,jdbcType=VARCHAR},
			#{item.memo,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.drzk.vo.SysParameters">
		update sys_parameters
		<set>
			<if test="parameterCode != null">
				parameter_code = #{parameterCode,jdbcType=VARCHAR},
			</if>
			<if test="parameterName != null">
				parameter_name = #{parameterName,jdbcType=VARCHAR},
			</if>
			<if test="parameterValue != null">
				parameter_value = #{parameterValue,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=INTEGER},
			</if>
			<if test="isEdit != null">
				is_edit = #{isEdit,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserName != null">
				create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserName != null">
				modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.drzk.vo.SysParameters">
		update sys_parameters
		set parameter_code = #{parameterCode,jdbcType=VARCHAR},
		parameter_name = #{parameterName,jdbcType=VARCHAR},
		parameter_value = #{parameterValue,jdbcType=VARCHAR},
		type_id = #{typeId,jdbcType=INTEGER},
		is_edit = #{isEdit,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_user_name = #{createUserName,jdbcType=VARCHAR},
		modify_date = #{modifyDate,jdbcType=TIMESTAMP},
		modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_parameters
	</select>

    <insert id="saveConfig" parameterType="com.drzk.vo.SysParameters">
        insert into sys_parameters
        (parameter_code,parameter_value,type_id,
        create_date,create_user_name,modify_date,modify_user_name,)
        values
        (#{parameterCode},
        #{parameterValue},#{typeId},
        #{createDate},
        #{createUserName},
        #{modifyDate},
        #{modifyUserName})
    </insert>

    <update id="updateByCode">
        update sys_parameters set parameter_value = #{paramsValue}
        where parameter_code = #{paramsCode}
    </update>

	<update id="batchUpdate" parameterType="java.util.Map">
		<foreach collection="map.keys" item="key" separator=";" open="" close="">
			update sys_parameters
			<set>
				parameter_value ="${map[key]}"
			</set>
			where parameter_code = #{key}
		</foreach>
	</update>
</mapper>